
<section class="container text-center my-5 py-5">
        <table border=1 class="table table-bordered border-success">
          <thead class="text-center">
            <th>Nome</th>
            <th>Endereço</th>
            <th>E-mail</th>
             <th>Salário</th>
             <th>Ações</th>
          </thead>
         {{!-- aqui começamos a criar o body da tabela --}}
          <tbody id="tbody">

              {{!-- //o #each é semelhando foreach que tínhamos no javascrit, ou seja, percorre um array elemento por elemento --}}
              {{#each resultado}}
              <tr class="text-center">
                  {{!-- estamos criando cada coluna com os atributos de cada elemento do array (um a um) --}}
                  <td>{{nomeFunc}}</td>
                  <td>{{enderecoFunc}}</td>
                  <td>{{emailFunc}}</td>
                  <td>{{salarioFunc}}</td>
                   <td class="text-center fs-5">
                      <a href="/editarFuncionarios/{{_id}}"><i class="bi bi-pencil-fill text-warning"></i></a>
                      {{!-- atribuimos um link para o botão excluir --}}
                      <a href="/deletarFuncionarios/{{_id}}"><i class="bi bi-trash text-danger mx-3"></i></a>
                  </td>
              </tr>
              {{!-- aqui fechamos o each --}}
              {{/each}}
          </tbody>
        </table>
    </section>